body{
	background-image:		url(gradation.png);
	background-repeat:		repeat-x;
	background-position:	left bottom;
	background-attachment:	fixed;
}

iframe{
	align: 		middle;
	margin: 	0px 0px 5px 0px;
}

#inner { margin:0;}
#mainWrap { width:40%; float:left;}
#sideWrap { width:60%; float:right;}
.clear { clear:both;}
.clear hr { display:none;}

#container{
	width:				850px;
	margin:				auto;
	background-color:	#ffffff;
}

#content{
	margin:	30px 0;
}

#footer{
	width:			auto;
	border-top:		solid 5px #444444;
	padding-top:	10px;
	padding-bottom:	20px;
	padding-left:	10px;
}

#footer p{
	color:		#000000;
	font-size:	0.75em;
	margin:		0;
}

#header{
	width:					auto;
	height:					170px;
	background-image:		url(hey.jpg);
	background-repeat:		no-repeat;
	background-position:	0px 0px;
	text-align:				right;
	border:					solid 1px gray;
}

#header_inner{
	padding:	20px;
}

#header h1{
	margin:			0;
	font-size:		2em;
	font-family:	Verdana, Helvetica, sans-serif;
}

#header p{
	margin:		0;
	margin-top:	8px;
	font-size:	1em;
}

#myform label{
	display:	block;
	width:		100px;
	float:		left;
	font-size:	0.875em;
}

#user, #mail{
	width:	300px;
}

#message{
	width:	300px;
	height:	100px;
}

#submit{
	margin-left: 	100px;
}

#user:hover{
	background-color: yellow;
}

#user:focus{
	background-color: greenyellow;
}

.menu{
	font-size:	0.8em;
	width:		auto;
	height:		40px;
	border-top:		solid 1px #aaaaaa;
	border-bottom:	solid 1px #aaaaaa;
}

.menu li{
	list-style-type:	none;
	float:				left;
}

.menu li a{
	display:			block;
	width:				100px;
	line-height:		40px;
	border-right:		solid 1px #aaaaaa;
	color:				#000000;
	text-align:			center;
	text-decoration:	none;
}

.menu ul{
	margin:	0;
	padding:	0;
}

.menu, .menu li a{
	background-image:	url(gr.png);
	background-repeat:	repaet-x;
}

.menu li a:hover{
	background-position:	0 -50px;
}

.post{
	width:	auto;
}

.post h2{
	font-size:		1em;
	border-bottom:	solid 3px #444444;
	mergin:			0;
	mergin-bottom:	15px;
	padding-bottom:	3px;
	padding-left:	10px;
}

.posttext{
	font-size:		0.875em;
	line-height:	1.5;
	padding-left:	10px;
}

.posttext p{
	mergin:		0;
	mergin-bottom:	20px;
}

.imgcenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.iframe{
	text-align:center;
}
